/* syntax highlighting */
.keyword { font-weight: bolder; }
.string { color: red; }
.symbol { color: red; font-weight: bolder;}
.char { color: #FF00FF; }
.double { color: blue; }
.float { color: blue; }
.long { color: #008080; }
.int { color: #008080; }
.comment { color: gray; font-style: italic; }

/* to highlight the target of a clicked link*/
:target
{
	background: #FFaaaa;
}
.typed
{
	position: relative;
}
.type
{
	display: none;
	/*max-width: 250px;
	white-space: pre-wrap;*/
	position: absolute;
	top: 1.5em;
	left: 1em;
	padding: 0.5em;
}
.typed:hover > .type, .typed > .type:hover
{
	display: block;
	background: #D4E1EC;
	border: 1px solid #B5BFC9;
	z-index: 10000;
}