/* syntax highlighting */
.keyword { font-weight: bolder; }
.string { color: red; }
.symbol { color: red; font-weight: bolder;}
.char { color: #FF00FF; }
.double { color: blue; }
.float { color: blue; }
.long { color: #008080; }
.int { color: #008080; }
.comment { color: gray; font-style: italic; }

/* to highlight the target of a clicked link*/
:target
{
	background: #FFaaaa;
}
